@using TTT.Website.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Tic-Tac-Toe</title>
	@Html.LoadStylesheet("main.min.css")
	@Html.LoadScript("modernizr.custom.58098.js")
</head>
<body>
	<div id="pageContainer">
		<header>
		</header>
		<div id="pageContent">
			<section id="mainHeader">
			</section>
			<section id="mainContent">
				@RenderBody()
			</section>
			<section id="mainFooter">
			</section>
		</div>
		<footer>
		</footer>
	</div>
	
	@Html.LoadScript("jquery-1.7.1.min.js")
	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>

	@RenderSection("PageLevelJavascript", false)
</body>
</html>
